body{
  font-family: 'Josefin Sans', sans-serif;
}

header{
  height: 70px;
  background-color: #a8dadc;
}

.logo img{
  width: 30px;
}

.control-pannel{
  width: 40%;
  height: 100%;
  background-color: #457b9d;
}

.mybtn{
  background-color: #a8dadc;
  width: 40px;
  height: 30px;
  cursor: pointer;
  border-radius: 20px;
  text-align: center;
  font-size: 1.3em;
  vertical-align: 30px;
  color: #457b9d;
}

.mybtn:hover{
  scale: 1.1;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.433);
  transition: all .5s;
}

.defaultColor{
  color: #457b9d;
}

.big-fs{
  font-size: 3em;
}

.fw-semi{
  font-weight:600 ;
}

.main-container{
  height: calc(100vh - 70px);
  width: 100%;
}

.img-container img{
  border-radius: 20px;
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.text{
  width: 300px;
  
}

.show-hide{
  width: 300px;
  height: 30px;
}